body
{
    margin: 0;
}
h3
{
    padding: 16px 16px 0;
    margin: 0;
    margin-top: 16px;
    color: #505050;
    letter-spacing: 0.5px;
}
form
{
    padding: 16px 16px 8px;
    margin: 0;
}
input
{
    display: block;
    padding: 4px 8px;
    margin-bottom: 12px;
    border: none;
    border-bottom: olive 1px solid;
}
button
{
    cursor: pointer;
    padding: 8px 14px;
    color: #3a3a3a;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    border: none;
    border-bottom: olive 2px solid;
    background-color: rgb(65, 224, 79);
    border-radius: 4px;
    letter-spacing: 0.5px;
}
button:hover
{
    background-color: rgb(50, 172, 60);
}
