@charset "UTF-8";
/* C9DBF2, 3B3E40, D9C6B0, 8C7A70, BFACA4 */
/* CSS Document */

img
{
    padding: 10px 5px 0px 0px;
}
.pixRight
{
    float: right;
    margin: 0px 0px 5px 5px;
}
.pixLeft
{
    float: left;
    margin: 0px 5px 5px 0px;
}
header
{
    color: #900;
    font-size: 24px;
    font-family: "Arial Black", Gadget, sans-serif;
}
body
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    background-color: #BFACA4;
    color: #3B3E40;
}
a
{
    text-decoration: none;
    color: #C9DBF2;
    font-weight: bold;
}
h1
{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 18px;
    background-color: #C9DBF2;
    color: #3B3E40;
}
